@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
body {
  margin: 0;
  margin-top: -10px;
  background: #f3f3f3;
}
.page-container {
  width: 80%;
  margin: auto;
}
.page-container .page-title{
  padding: 5px 10px;
}
.page-container .page-title button{
  position: absolute;
  right: 13%;
  top: 22px;
  padding: 5px 16px;
  background: #fff;
  border: 1px solid #a7a3a3;
  border-radius: 6px;
  cursor: pointer;
}
.card-wrapper {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  display: inline-block;
}
.card-wrapper * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card-wrapper img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.card-wrapper .card-details {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.card-wrapper .card-details:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.card-wrapper .card-details ul{
  list-style: none;
  padding: 0;
  font-size: 12px;
}
.card-wrapper .card-details a {
  color: #ffffff;
  text-decoration: none;
  /* padding: 5px;
  border: 1px solid #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px; */
}
.card-wrapper .card-details a:hover {
  opacity: 1;
  font-weight: bold;
}
.card-wrapper .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.card-wrapper .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.card-wrapper h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.card-wrapper h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.card-wrapper p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

/* Add User Modal */
.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  overflow: auto;
  left: -2000px;
}
.modal-container .content-wrapper {
  width: 60%;
  min-height: 80%;
  border-radius: 10px;
  margin: auto;
  margin-top: 76px;
  padding: 20px;
  background: #fff;
}
.modal-container .content-wrapper form {
  width: 60%;
  margin: auto;
}
.modal-container .content-wrapper .close-btn {
  font-size: 20px;
  float: right;
  margin-top: -38px;
  display: block;
  cursor: pointer;
  border-radius: 12px !important;
}
.modal-container .content-wrapper input {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #ffffff;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

.modal-container .content-wrapper #submitData {
  padding: 5px 16px;
  background: #fff;
  border: 1px solid #a7a3a3;
  border-radius: 6px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .page-container {
    width: 100%;
    margin: auto;
  }
  .page-container .page-title button {
    right: 2%;
    top: 54px;
  }
  .card-wrapper {
    padding: 0;
    min-width: 96%;
    max-width: 96%;
    margin: 2%;
  }
}